ServiceTest/Connected Services/ServiceReference/NotificacionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WSInterno" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WSInterno" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Pedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutorizadoRetirar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoBarra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Destinatario" nillable="true" type="tns:ImponerDestinatarioWSRequest" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroDeOrdenCompra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroSeguimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Proveedor" nillable="true" type="tns:ImponerProveedorWSRequest" />
      <xs:element minOccurs="0" name="Remitente" nillable="true" type="tns:ImponerRemitenteWSRequest" />
      <xs:element minOccurs="0" name="TipoProducto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pedido" nillable="true" type="tns:Pedido" />
  <xs:complexType name="ImponerDestinatarioWSRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bandeja" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Canalizacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CentroDeCostos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionBandeja" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionCentroCostos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionSector" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sector" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sucursal" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImponerDestinatarioWSRequest" nillable="true" type="tns:ImponerDestinatarioWSRequest" />
  <xs:complexType name="ImponerProveedorWSRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cuit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroOrdenCompra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroRemito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RazonSocial" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImponerProveedorWSRequest" nillable="true" type="tns:ImponerProveedorWSRequest" />
  <xs:complexType name="ImponerRemitenteWSRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bandeja" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sector" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sucursal" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImponerRemitenteWSRequest" nillable="true" type="tns:ImponerRemitenteWSRequest" />
</xs:schema>