ServiceTest/Connected Services/ServiceReference/NotificacionService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WSMailroom/NotificacionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSInterno" />
  <xs:element name="NotificarPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WSInterno" minOccurs="0" name="pedido" nillable="true" type="q1:Pedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NotificarPedidoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="estado" type="xs:int" />
        <xs:element minOccurs="0" name="codigoBarra" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NotificarEstadoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarNuevoEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="estado" type="xs:int" />
        <xs:element minOccurs="0" name="codigoBarra" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarNuevoEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NotificarNuevoEstadoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>